<div class="registro-container">
  <h2>Registrar</h2>
  <p>Ingrese los espacios para ingresar</p>

  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <input type="text" placeholder="Nombre Completo" formControlName="nombre" />
    <input type="text" placeholder="Carnet de identidad" formControlName="ci" />
    <input type="text" placeholder="Sexo" formControlName="sexo" />
    <input type="email" placeholder="Correo" formControlName="correo" />
    <input type="password" placeholder="Contraseña" formControlName="password" />

    <button type="submit">Registrarse</button>
    <button type="button" class="atras" routerLink="/login">Atrás</button>
  </form>

  <p class="policy-text">
    By clicking continue, you agree to our
    <a href="#">Terms of Service</a> and
    <a href="#">Privacy Policy</a>
  </p>
</div>
