<footer class="footer">
  <div class="footer-content">
    <div class="footer-section">
      <h2>SALUD TOTAL</h2>
      <p>Liderando el camino en excelencia médica y atención confiable.</p>
    </div>

    <div class="footer-section">
      <h3>Important Links</h3>
      <ul>
        <li><a routerLink="/registrarse">Agendar Cita</a></li>
        <li><a routerLink="/doctorea">Doctores</a></li>
        <li><a routerLink="/servicios">Servicios</a></li>
        <li><a routerLink="/nosotros">Nosotros</a></li>
      </ul>
    </div>

    <div class="footer-section">
      <h3>Contactanos</h3>
      <p>Llama: 4200139</p>
      <p>Dirección: Av. Circunvalación<br />Cochabamba</p>
    </div>
  </div>

  <hr />

  <div class="footer-bottom">
    <p>© 2025 Salud Total | All Rights Reservado por PNTEC-LTD</p>
    <div class="social-icons">
      <a href="#"><i class="fab fa-linkedin"></i></a>
      <a href="#"><i class="fab fa-facebook"></i></a>
      <a href="#"><i class="fab fa-instagram"></i></a>
    </div>
  </div>
</footer>
