<nav class="navbar">
  <ul class="nav-links">
    <li><a routerLink="/">Inicio</a></li>
    <li><a routerLink="/nosotros">Nosotros</a></li>
    <li><a routerLink="/servicios">Servicios</a></li>
    <li><a routerLink="/doctorea">Doctores</a></li>
    <li><a routerLink="/historial">Historial</a></li>
  </ul>

  <div class="nav-actions">
    <button class="icon-button">
      🔍
    </button>

    <button class="cta-button">
      Agendar Cita
    </button>

    <span class="icon-circle">💬</span>
    <span class="icon-circle gray"></span>
  </div>
</nav>
