<section class="hero">
  <div class="hero-left">
    <p class="subheading">CUIDANDO LA VIDA</p>
    <h1>Liderando el camino<br />en excelencia médica</h1>
    <button class="btn primary">Nuestros servicios</button>
  </div>

  <div class="hero-right">
    <a href="https://ibb.co/B2KV1w9Q"><img src="https://i.ibb.co/v4vxtDST/Whats-App-Image-2025-06-03-at-12-35-07.jpg" 
      alt="medico sonriente"></a>
  </div>
</section>

<section class="actions">
  <button class="btn secondary">
    <i class="icon-calendar"></i> Calendario de citas
  </button>
  <button class="btn secondary">
    <i class="icon-payment"></i> Historial de pagos
  </button>
</section>

<section class="welcome">
  <h2>Bienvenido a Salud Total</h2>
  <h3>El mejor Hospital donde cuidamos Tu Salud</h3>
  <p>
    Ubicado en el corazón de Cochabamba, nuestro hospital brinda atención médica de calidad con calidez humana. Contamos con un equipo de profesionales comprometidos con la salud y el bienestar de nuestra comunidad.
  </p>
  <a href="#" class="link">Leer más →</a>
</section>

<!-- News Section -->
<section class="news">
  <h3 class="news-title">Mejor Información, Mejor Salud</h3>
  <div class="news-grid">
    <div class="news-card" *ngFor="let n of noticias">
      <img [src]="n.img" alt="Imagen de noticia" class="news-image" />
      <div class="news-content">
        <p class="news-date">{{ n.fecha }}</p>
        <h4 class="news-heading">{{ n.titulo }}</h4>
        <div class="news-meta">
          <span>🗨️ {{ n.comentarios }}</span>
          <span>👁️ {{ n.vistas }}</span>
        </div>
      </div>
    </div>
  </div>
</section>

<div>
  <input type="text" id="clinica_id">
  <input type="text" id="hospital_id">
  <input type="text" id="clinic_code">
  <button onclick="RegistrarClinica()">Registrar Clinica</button>
</div>