<div class="login-container">
  <h2>Loggin</h2>
  <p>Ingrese los espacios para ingresar</p>

  <form>
    <input type="email" placeholder="correo" />
    <input type="text" placeholder="carnet de identidad" />
    <button type="submit">Ingresar</button>
  </form>

  <div class="extras">
    <a routerLink="/recuperar-cuenta">¿Olvidaste tu contraseña?</a>
    <div class="divider">Si no se tiene cuenta</div>
    <button routerLink="/registrarse" class="register">Registrarse</button>
  </div>

  <p class="policy-text">
    By clicking continue, you agree to our
    <a href="#">Terms of Service</a> and
    <a href="#">Privacy Policy</a>
  </p>
</div>
